/* Importamos fonts*/
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Agdasima:wght@400;700&family=Indie+Flower&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Rouge+Script&family=Shadows+Into+Light&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables CSS */
:root {
    --color-primario: #ffee00;
    --color-secundario: #FF6200;
    --color-alerta: #E07A5F;
    --color-texto: #ffffff;
    --color-boton-hover: #ff9100;
    --color-boton-hover-texto: #222;
    --fuente-principal: Space Mono, sans-serif;
    --fuente-secundaria: Agdasima, sans-serif;
    --fuente-terciaria: Indie Flower, sans-serif;
    --fuente-cuaternaria: Permanent Marker, sans-serif;
    --fuente-quinta: Pacifico, sans-serif;
    --fuente-sexta: Shadows Into Light, sans-serif;
    --fuente-septima: Rouge Script, sans-serif;
    --fuente-octava: Aclonica, sans-serif;
    --fuente-novena: Rock Salt, sans-serif;
}

/* Estilos Generales  */
body {
    margin: 0;
    padding: 0;
    color: var(--color-texto);
    grid-template-rows: auto 1fr auto;
}

.main-nav {
    background: #303030;
    background: linear-gradient(0deg, rgba(48, 48, 48, 1) 0%, rgba(99, 99, 99, 1) 100%);
    font-family: var(--fuente-secundaria);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.info-principal {
    background: #ba8900;
    background: linear-gradient(0deg, rgba(255, 215, 128, 1) 0%, rgba(186, 137, 0, 1) 100%);
}

.titulo-principal h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-texto);
    font-family: var(--fuente-principal);
}

.titulo-principal p {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    font-family: var(--fuente-secundaria);
}

.dshbrd-btn {
    background-color: var(--color-secundario);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: var(--fuente-octava);
}

.dshbrd-btn:hover {
    background-color: var(--color-boton-hover);
    color: var(--color-boton-hover-texto);
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.explicaciones {
    font-family: var(--fuente-terciaria);
}

.explicaciones h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-alerta);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.infografia {
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
}

.infografia h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: Rock Salt, sans-serif;
}

.infografia ul {
    list-style-type: none;
    padding: 0;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.footer {
    background: #020024;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(62, 62, 199, 1) 16%, rgba(212, 250, 255, 1) 100%);
    color: var(--color-texto);
    padding: 20px;
    text-align: center;
    font-family: var(--fuente-octava)
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Estilos para móviles (donde el footer no es fijos) */
@media (max-width: 767px) {
    nav {
        position: static;
    }

    body {
        padding-top: 0;
        padding-bottom: 0;
    }
}