/* Variables CSS */
:root {
    --color-primario: #004AAD;
    --color-secundario: #6AB187;
    --color-alerta: #E07A5F;
    --color-fondo: #F8F8F8;
    --color-texto: #333333;
    --fuente-principal: sans-serif;
}

/* Estilos Generales  */
body {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
    color: var(--color-texto);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.principal {
    background-color: var(--color-fondo);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.titulo-principal h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-primario);
}

.titulo-principal p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.titulo-principal .btn-primary {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

.titulo-principal .btn-primary:hover {
    background-color: #003380;
    border-color: #003380;
}

.explicaciones {
    margin-top: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
}

.card h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-primario);
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
}